<template>
	<q-page class="full-width">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
				<div
					class="flex items-center"
					style="height: calc(100vh - 50px)"
				>
					<div class="text-center q-pa-lg q-mx-auto">
						<div class="main-header q-mb-lg">
							<b>COVID19</b>

							<div class="secondary-header text-teal">
								Statistics / Tracking App
							</div>
						</div>

						<div style="max-width: 450px; margin: auto">
							A Simple Mobile Application that Provide COVID-19
							Statistics cases here in the philippines with
							additional Latest Country News. You can Try it out
							by downloading here. or
						</div>
						<q-btn
							@click="loadMobileApp"
							class="q-my-lg"
							outline
							color="teal"
						>
							Load The App
						</q-btn>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
				<div
					style="height: calc(100vh - 100px)"
					class="flex justify-center q-mb-xl items-center"
				>
					<app-covid-source :loadResources="loadingApp" />
				</div>
			</div>
		</div>
	</q-page>
</template>

<script>
export default {
	name: 'IndexPage',
	data() {
		return {
			avatar: 'statics/avatar2.jpg',
			loadingApp: false,
		}
	},

	components: {
		AppCovidSource: () => import('./src-covid-19/Frame'),
	},

	methods: {
		loadMobileApp() {
			this.loadingApp = true
		},
	},
}
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 550px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 40px;
}
.main-header {
	color: #707070;
	font-size: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
