<template>
	<div class="relative-position app-wrapper">
		<q-scroll-area
			style="height: 568px"
			class="relative-position"
		>
			<div class="app-header text-center q-pa-xl text-white">
				<div class="text-h3 text-weight-bolder q-mt-lg">COVID19</div>
				<div class="text-h5">PH Statistics</div>
			</div>

			<div class="q-pa-md bg-white dashboard-wrapper">
				<p class="text-h5 text-bold q-pt-md">Statistics</p>

				<div class="row main-panel">
					<div class="col-6">
						<div class="prime-panel">
							<div class="q-pa-md" style="height: 90px">
								Active Cases
								<p class="text-right text-h6 text-teal">
									{{ statistics.active_cases }}
									<q-icon name="ion-sad" size='xs'></q-icon>
								</p>
							</div>
							<div class="q-pa-md" style="height: 90px">
								Confirmed Cases
								<p class="text-right text-h6 text-pink">
									{{ statistics.total }}
									<q-icon name="ion-globe" size='xs'></q-icon>
								</p>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div style="height: 90px" class="q-pa-md">
							Recoveries
							<p class="text-right text-h6 text-green">
								{{ statistics.recoveries }}
								<q-icon name="ion-heart" size='xs'></q-icon>
							</p>
						</div>
						<div style="height: 90px" class="q-pa-md">
							Death
							<p class="text-right text-h6 text-red">
								{{ statistics.deaths }}
								<q-icon name="ion-bonfire" size='xs'></q-icon>
							</p>
						</div>
					</div>
					<div class="col-12">
						<div style="height: 90px" class="q-pa-md text-center">
							Recovery Rate / Fatal Rate
							<p class="text-h6">
								{{ statistics.recovery_rate }} /
								{{ statistics.fatality_rate }}
							</p>
						</div>
					</div>
				</div>

				<div class="text-caption text-center q-mt-lg">
					Date Update : {{ statistics.lastUpdated }}
				</div>
			</div>

			<div class="q-pa-md">
				<p class="text-h5 text-white">Latest News</p>
				<div class="row">
					<div class="col-12" v-for="news in covidUpdates">
						<q-card class="q-mb-lg">
							<q-img :src="news.imageUrl" style="height: 250px">
							</q-img>
							<q-card-section class="q-px-lg q-pt-lg q-pb-none">
								<div style="font-weight: 800; font-size: 18px">
									{{ news.title }}
								</div>
							</q-card-section>
							<q-card-section
								class="text-body2 q-px-lg"
								style="color: #888"
							>
								{{ news.description }}
							</q-card-section>

							<q-card-actions align="right" class="">
								<q-btn
									color="teal"
									class="
										text-center
										q-pr-md q-mr-md q-mb-md
										text-capitalize
									"
									@click="proceedWithNews(news.url)"
								>
									Read
								</q-btn>
							</q-card-actions>
						</q-card>
					</div>
				</div>
			</div>
		</q-scroll-area>
	</div>
</template>

<script>
import Axios from 'axios'

export default {
	name: 'Content',

	data() {
		return {
			tab: 'mails',

			statistics: {
				active_cases: 0,
				deaths: 0,
				fatality_rate: 0,
				recoveries: 0,
				recovery_rate: 0,
				total: 0,

				lastUpdated: '',
			},

			covidUpdates: [],
		}
	},

	computed: {},

	mounted() {
		function noWithComma(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
		}

		Axios.post('https://dbph-gov-gql-bl4faseyeq-de.a.run.app/', {
			operationName: null,
			variables: {},
			query:
				'' +
				'{\n  covidCaseStatus: covid_case_status {' +
				'\n    active' +
				'\n    all' +
				'\n    asymptomatic' +
				'\n    critical' +
				'\n    died' +
				'\n    mild' +
				'\n    repatriate' +
				'\n    recovered' +
				'\n    severe' +
				'\n    __typename' +
				'\n  }' +
				'\n  covidCaseLastUpdated: covid_case_last_updated {' +
				'\n    updatedAt' +
				'\n    __typename' +
				'\n  }' +
				'\n}' +
				'\n',
		}).then((response) => {
			let dohGovData = response.data.data.covidCaseStatus
			this.statistics.active_cases = noWithComma(dohGovData.active)
			this.statistics.deaths = noWithComma(dohGovData.died)
			this.statistics.recoveries = noWithComma(dohGovData.recovered)
			this.statistics.total = noWithComma(dohGovData.all)
			this.statistics.fatality_rate = Number(
				(dohGovData.died / dohGovData.all) * 100
			).toFixed(2)
			this.statistics.recovery_rate = Number(
				(dohGovData.recovered / dohGovData.all) * 100
			).toFixed(2)

			this.statistics.lastUpdated = new Date(
				response.data.data.covidCaseLastUpdated.updatedAt
			).toLocaleString('US-En', {
				weekday: 'long',
				year: 'numeric',
				month: 'long',
				day: 'numeric',
				hour: 'numeric',
				minute: 'numeric',
			})
		})

		Axios.post('https://dbph-gov-gql-bl4faseyeq-de.a.run.app', {
			operationName: null,
			variables: {},
			query:
				'' +
				'{' +
				'\n  newsArticles: latest_news_articles {' +
				'\n    _id' +
				'\n    title' +
				'\n    description' +
				'\n    imageUrl' +
				'\n    url' +
				'\n    createdAt' +
				'\n    __typename' +
				'\n  }' +
				'\n}' +
				'\n',
		}).then((response) => {
			this.covidUpdates = response.data.data.newsArticles
		})
	},

	methods: {
		proceedWithNews(url) {
			window.open(url, '_blank').focus()
		},
	},
}
</script>

<style scoped lang="scss">
* {
	font-family: 'Manjari', serif;

	.main-panel {
		box-shadow: 1px 1px 5px 0 #dfdfdf;
		border-radius: 20px;
	}

	.app-wrapper {
		background: linear-gradient(110deg, #008080 50%, #00aeae 50%);
	}

	.dashboard-wrapper {
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}
}
</style>
