<template>
	<div class="marvel-device nexus5">
		<div class="top-bar"></div>
		<div class="sleep"></div>
		<div class="volume"></div>
		<div class="camera"></div>
		<div class="screen">
			<q-inner-loading :showing="loadResources" v-if="!displayResources">
				<q-spinner-orbit size="50px" color="teal" />
			</q-inner-loading>
			<app-content v-if="displayResources"></app-content>
		</div>
	</div>
</template>

<script>
export default {
	props: ['loadResources'],

	name: 'Main',

	components: {
		appContent: () => import('./Content'),
	},

	watch: {
		loadResources() {
			let self = this
			setTimeout((event) => {
				self.displayResources = true
			}, 3000)
		},
	},

	data() {
		return {
			displayResources: false,
		}
	},
}
</script>

<style scoped lang="scss">
@import './external-css/device.scss';
</style>
