<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<div class="header-wrapper">
			<div class="main-header">
				<b>About me</b>
			</div>
			<div class="secondary-header text-teal">
				I am Spider man that makes web
			</div>
		</div>

		<div class="text-center content-wrapper q-px-md">
			<p>
				Hello there! I am based in the Philippines, who like to drink
				coffee and a bunch of energy drinks. I have 3-Year Development Experience
				in the field of Website, Web Application and Information System. I also started
				to do Cross Platform Development recently and i like to try many things.
			</p>
			<p>
				I'm passionate, dedicated and motivated to explore such field in development.
			</p>
		</div>
	</q-page>
</template>
<script type="text/javascript">
export default {
	name: "AboutPage",
	data() {
		return {};
	},
};
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 650px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 40px;
}
.main-header {
	color: #707070;
	font-size: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
