<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<div class="header-wrapper">
			<div class="main-header">
				<b>Contact</b>
			</div>
			<div class="secondary-header text-teal">
				 say Hi
			</div>
		</div>

		<div class="text-center content-wrapper">
			<p>
				<q-icon name="mail" color="teal" />
				darrylceguerra@gmail.com
			</p>
			<p>
				<q-icon name="la la-facebook-f" color="teal" />
				facebook.com/darryl.ceguerra
			</p>
			<p>
				<q-icon name="la la-linkedin" color="teal" />
				linkedin.com/in/darryl-ceguerra-501ab5160
			</p>
		</div>
	</q-page>
</template>
<script type="text/javascript">
export default {
	name: "ContactPage",
	data() {
		return {};
	},
};
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 550px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 40px;
}
.main-header {
	color: #707070;
	font-size: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
