<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<q-avatar size="150px" class="q-mb-md">
			<img alt="Quasar logo" :src="avatar" />
		</q-avatar>

		<div class="header-wrapper">
			<div class="main-header">
				<b>Darryl Ceguerra</b>
			</div>
			<div class="secondary-header text-teal">
				Web Developer
			</div>
		</div>

		<div class="text-center content-wrapper q-px-md">
			<p>
				Full Stack Developer who build Website, Web Application and
				Information Systems
			</p>
		</div>
	</q-page>
</template>

<script>
export default {
	name: "IndexPage",
	data() {
		return {
			avatar: "statics/avatar2.jpg",
		};
	},
};
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 550px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 80px;
}
.main-header {
	color: #707070;
	font-size: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
