<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<div class="header-wrapper">
			<div class="main-header">
				<b>Project Monitoring App</b>
			</div>
			<div class="secondary-header text-teal">
				Pro-mon
			</div>
		</div>

		<div class="text-center content-wrapper q-px-md">
			<p>
				A Project Moniting Application which i currently developing,
				featuring Chat and Call Modules, Threads and Group Messages ,
				Project Management, User Timeline, File Management and Task
				Monitoring.
			</p>

			<p>
				This Project is under development and i work on it during my
				free time.
			</p>
		</div>
	</q-page>
</template>

<script>
export default {
	name: "IndexPage",
	data() {
		return {
			avatar: "statics/avatar2.jpg",
		};
	},
};
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 550px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 40px;
}
.main-header {
	color: #707070;
	font-size: 39px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
