<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<div class="header-wrapper">
			<div class="main-header">
				<b>README</b>
			</div>
			<div class="secondary-header text-teal">
				My Objectives
			</div>
		</div>

		<div class="text-center content-wrapper q-px-md">
			<p>
				Im looking for oppurtunities, a project, a challenge that will
				push me harder towards my goal that also benifits the company or
				organization which i will be connected in the future.
			</p>
		</div>
	</q-page>
</template>

<script>
export default {
	name: "IndexPage",
	data() {
		return {
			avatar: "statics/avatar2.jpg",
		};
	},
};
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 550px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 40px;
}
.main-header {
	color: #707070;
	font-size: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
