<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<div class="header-wrapper">
			<div class="main-header">
				<b>Skills</b>
			</div>
			<div class="secondary-header text-teal">Double Kill</div>
		</div>

		<div class="content-wrapper q-px-md">
			<div class="row q-col-gutter-md">
				<div class="col-12 col-md-6">
					<div class="text-center q-mb-md">Frontend</div>
					<q-list>
						<q-item class="no-padding q-mt-md">
							<q-item-section>
								<q-item-label> Essentials </q-item-label>
								<q-item-label caption lines="2">
									HTML/CSS/JavaScript/ WebSocket/AJAX
								</q-item-label>
							</q-item-section>

							<q-item-section side top>
								<div class="text-teal">
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
								</div>
							</q-item-section>
						</q-item>

						<q-item class="no-padding q-mt-md">
							<q-item-section>
								<q-item-label>
									Framework & Library
								</q-item-label>
								<q-item-label caption lines="2">
									Vue/Vuex/Axios/Quasar Framework
								</q-item-label>
							</q-item-section>

							<q-item-section side top>
								<div class="text-teal">
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
								</div>
							</q-item-section>
						</q-item>

						<q-item class="no-padding q-mt-md">
							<q-item-section>
								<q-item-label> Tools </q-item-label>
								<q-item-label caption lines="2">
									NPM/Git/AdobeXD
								</q-item-label>
							</q-item-section>

							<q-item-section side top>
								<div class="text-teal">
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
								</div>
							</q-item-section>
						</q-item>
					</q-list>
				</div>
				<div class="col-12 col-md-6">
					<div class="text-center q-mb-md">Backend</div>
					<q-list>
						<q-item class="no-padding q-mt-md">
							<q-item-section>
								<q-item-label> Essentials </q-item-label>
								<q-item-label caption lines="2">
									PHP/MySQL/Apache/API
								</q-item-label>
							</q-item-section>

							<q-item-section side top>
								<div class="text-teal">
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
								</div>
							</q-item-section>
						</q-item>

						<q-item class="no-padding q-mt-md">
							<q-item-section>
								<q-item-label>
									Framework & Library
								</q-item-label>
								<q-item-label caption lines="2">
									CodeIgniter/JWT/ ThingEngineer/WebSocket
								</q-item-label>
							</q-item-section>

							<q-item-section side top>
								<div class="text-teal">
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
								</div>
							</q-item-section>
						</q-item>

						<q-item class="no-padding q-mt-md">
							<q-item-section>
								<q-item-label> Tools </q-item-label>
								<q-item-label caption lines="2">
									Composer
								</q-item-label>
							</q-item-section>

							<q-item-section side top>
								<div class="text-teal">
									<q-icon name="star" />
									<q-icon name="star" />
									<q-icon name="star" />
								</div>
							</q-item-section>
						</q-item>
					</q-list>
				</div>
			</div>
		</div>
	</q-page>
</template>

<script>
export default {
	name: 'SkillPage',
	data() {
		return {}
	},
}
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 550px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 40px;
}
.main-header {
	color: #707070;
	font-size: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
