<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<div class="header-wrapper">
			<div class="main-header">
				<b>Work Exp</b>
			</div>
			<div class="secondary-header text-teal">Jedi Consular</div>
		</div>

		<div class="content-wrapper">
			<q-timeline layout="dense" color="secondary" class="q-px-md">
				<q-timeline-entry
					title="Pixel8 Web Solutions"
					subtitle="February 2021 - September 2021"
					side="left"
				>
					<div class="text-left">
						<q-list padding>
							<q-item>
								<q-item-section>
									<q-item-label overline>
										STORE SUPERVISOR
									</q-item-label>
									<q-item-label caption>
										<ul>
											<li>
												Managed Employees and Store
												Operation
											</li>
											<li>
												Participate in Government Bids
												and Projects
											</li>
											<li>
												Served Client and Provide
												Technical Support
											</li>
										</ul>
									</q-item-label>
								</q-item-section>
							</q-item>
						</q-list>
					</div>
				</q-timeline-entry>

				<q-timeline-entry
					title="Pixel8 Web Solutions"
					subtitle="November 2017 - January 2021"
					side="left"
				>
					<div class="text-left">
						<q-list padding>
							<q-item>
								<q-item-section>
									<q-item-label overline>
										WEB DEVELOPER
									</q-item-label>
									<q-item-label caption>
										<ul>
											<li>
												Developed Quality Information
												Systems
											</li>
											<li>
												Manage Junior Developers on
												projects
											</li>
											<li>
												Took part in the company tech
												improvements
											</li>
										</ul>
									</q-item-label>
								</q-item-section>
							</q-item>
						</q-list>
					</div>
				</q-timeline-entry>

				<q-timeline-entry
					title="Synergia BPO"
					subtitle="May 2016 – MAY 2017"
					side="right"
				>
					<div class="text-left">
						<q-list padding>
							<q-item>
								<q-item-section>
									<q-item-label overline>
										JR WEB DEVELOPER
									</q-item-label>
									<q-item-label caption>
										<ul>
											<li>Developed DTR Application</li>
											<li>
												Maintaining, expanding and
												scaling client’s websites
											</li>
											<li>Server Admin</li>
											<li>
												Became VOIP technical specialist
											</li>
										</ul>
									</q-item-label>
								</q-item-section>
							</q-item>
						</q-list>
					</div>
				</q-timeline-entry>
			</q-timeline>
		</div>
	</q-page>
</template>

<script>
export default {
	name: 'WorkPage',
	data() {
		return {}
	},
}
</script>

<style type="scss" scoped>
.content-wrapper {
	max-width: 550px;
}

.header-wrapper {
	text-align: center;
	margin-bottom: 40px;
}
.main-header {
	color: #707070;
	font-size: 45px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

.secondary-header {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 8px;
	color: #707070;
}
</style>
