<template>
	<div class="text-center" style="height: calc(100vh - 122px)">
		<div class="q-my-lg">
			<div class="text-uppercase text-h3 text-grey-9">
				<b>Wanna Hear My Story?</b>
			</div>
			<small class="font-sm">A Boring Introduction</small>
		</div>
		<br />
		<div>
			Here we go, Well I am based in the Philippines, who like to drink
			coffee, a bunch of energy drinks and cook an omelette. I have 3-year
			experience of
			<br />
			in building Websites and Web Applications even from scratch.
			<br /><br />
			Aside from this, I also started making Hybrid Mobile Application and
			Games,
			<br />
			although I'm still new to this field.

			<br /><br />
			I want to explore and learn much more to live happily ever after.
			<br /><br />
			THE END
		</div>
	</div>
</template>
<script type="text/javascript">
export default {
	data() {
		return {}
	},
}
</script>

<style type="scss"></style>
