<template>
	<div class="text-center" style="height: calc(100vh - 122px);">
		<div class="q-my-lg">
			<div class="text-uppercase text-h3 text-grey-9">
				<b>Need a Hand?</b>
			</div>
			<small class="font-sm">Contact me below</small>
		</div>
		<br />

		<br />
		<div class="q-my-xl">
			<p class="font-sm">
				<b>E-mail</b>
			</p>
			<p class="font-sm">
				darrylceguerra@gmail.com
			</p>
		</div>
	</div>
</template>
<script type="text/javascript">
export default {
	data() {
		return {};
	},
};
</script>

<style type="scss">
.anchor-default {
	text-decoration: none;
	color: #fff;
}
.font-sm {
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
}
</style>
