<template>
	<q-page
		class="full-width column justify-center items-center content-center"
	>
		<!-- <div class="q-my-lg">
			<div class="text-uppercase text-h3 text-grey-9">
				<b>Darryl Ceguerra</b>
			</div>
			<small class="font-sm">Web Developer / Programmer</small>
		</div>

		<div class="column">
			<div class="col self-center text-center">
				<q-avatar size="200px" class="q-mb-lg">
					<img alt="Quasar logo" :src="avatar" />
				</q-avatar>

				<div style="max-width: 400px;">
					<div class="font-sm text-teal q-mb-lg">
						<b>/** <i>What I Do</i> **/</b>
					</div>
					<div class="text-h6 font-sm">
						I Build Website, Web Application, Information Systems
						and Hybrid Mobile Applications.
					</div>
				</div>
			</div>
		</div> -->
	</q-page>
</template>
<script type="text/javascript">
export default {
	data() {
		return {
			avatar: "statics/avatar2.jpg",
		};
	},
};
</script>

<style type="scss">
.font-sm {
	font-size: 15px;
	line-height: 25px;
	font-weight: 300;
}
</style>
