<template>
	<div style="height: calc(100vh - 122px);">
		<div class="q-my-lg text-center">
			<div class="text-uppercase text-h3 text-grey-9">
				<b>Skill Sets?</b>
			</div>
			<small class="font-sm">Tada!</small>
		</div>
		<div class="q-my-xl">
			<div class="text-center">Web Application</div>
			<ul>
				<li>Vue | Vuex | Axios</li>
				<li>Quasar Framework</li>
				<li>HTML | CSS | Javascript</li>
				<li>PHP | MySQL | Apache</li>
				<li>CodeIgniter</li>
			</ul>

			<div class="text-center">Mobile / Desktop App</div>
			<ul>
				<li>Cordova</li>
				<li>Capacitor</li>
				<li>Electron</li>
			</ul>

			<div class="text-center">Dev Tools</div>
			<ul>
				<li>Git</li>
				<li>Composer</li>
				<li>NPM</li>
			</ul>
		</div>
	</div>
</template>
<script type="text/javascript">
export default {
	data() {
		return {};
	},
};
</script>

<style type="scss"></style>
