// app global css in SCSS form

/* fira-code-300 - latin */
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 300;
	src: url('./../assets/fonts/fira-code-v8-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''), url('./../assets/fonts/fira-code-v8-latin-300.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./../assets/fonts/fira-code-v8-latin-300.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-300.woff') format('woff'),
		/* Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-300.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./../assets/fonts/fira-code-v8-latin-300.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-regular - latin */
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 400;
	src: url('./../assets/fonts/fira-code-v8-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('./../assets/fonts/fira-code-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./../assets/fonts/fira-code-v8-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./../assets/fonts/fira-code-v8-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-500 - latin */
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 500;
	src: url('./../assets/fonts/fira-code-v8-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''), url('./../assets/fonts/fira-code-v8-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./../assets/fonts/fira-code-v8-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-500.woff') format('woff'),
		/* Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./../assets/fonts/fira-code-v8-latin-500.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-600 - latin */
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 600;
	src: url('./../assets/fonts/fira-code-v8-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('./../assets/fonts/fira-code-v8-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./../assets/fonts/fira-code-v8-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./../assets/fonts/fira-code-v8-latin-600.svg#FiraCode') format('svg'); /* Legacy iOS */
}
/* fira-code-700 - latin */
@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: 700;
	src: url('./../assets/fonts/fira-code-v8-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''), url('./../assets/fonts/fira-code-v8-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./../assets/fonts/fira-code-v8-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-700.woff') format('woff'),
		/* Modern Browsers */ url('./../assets/fonts/fira-code-v8-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./../assets/fonts/fira-code-v8-latin-700.svg#FiraCode') format('svg'); /* Legacy iOS */
}

* {
	font-family: 'Fira Code';
}
