<template>
	<q-layout view="lHr LpR lfr">
		<q-header class="bg-white text-grey-10">
			<q-toolbar>
				<q-btn dense flat round icon="menu" @click="left = !left" />
			</q-toolbar>
		</q-header>

		<q-drawer show-if-above v-model="left" side="left">
			<q-scroll-area class="fit bg-grey-10">
				<q-toolbar style="background: #1e1e1e;">
					<div class="text-grey q-px-lg" style="letter-spacing: 6px;">
						DARRYL CEGUERRA
					</div>
				</q-toolbar>
				<div
					class="text-white q-pa-lg"
					style="font-size: 11px; height: calc(100vh - 50px);"
				>
					<q-tree
						:nodes="simple"
						node-key="label"
						:expanded.sync="expanded"
						selected-color="teal"
						color="white"
						text-color="grey-4"
						:selected.sync="selected"
						dark
					>
					</q-tree>
				</div>
			</q-scroll-area>
		</q-drawer>

		<q-page-container>
			<router-view />
		</q-page-container>
	</q-layout>
</template>
<script src="./scripts/main.js"></script>
<style type="scss" scoped=""></style>
